:root {
    --app-background: #1C1C1C;
    --nav-background: #2C2C2C;
    --card-background: #2C2C2C;
    --username-photo-background: #2C2C2C;
    --bi-dark: rgba(0, 0, 0, 0.3);

}
  
html body {
  margin: 0%;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

.dataset-container,
.data-container {
  display: flex;
  width: 100%;
  gap:10px;
}

.main-container {
  padding: 30px;
  padding-left: 60px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  gap: 30px;
}

.body-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 30px;
  flex-direction: column;
  overflow: hidden;
}

.bi-flex-column,
.bi-flex-row {
  display: flex;
}

.bi-flex-column { flex-direction: column; }
.bi-flex-row { flex-direction: row; }